.player {
    padding-top: 3rem;
    width: 90%;
    max-width: 69rem;
    margin: 0 auto;

    &__time-control {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        padding-bottom: 4.2rem;

        *:not(input) {
            padding: 0 1rem;
            font-family: $ttfamily;
            // font-weight: 600;
            font-size: 1.41421356rem;
        }

        input {
            flex-grow: 1;
            cursor: pointer;
        }
    }

    &__control {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 80%;
        margin: 0 auto;

        cursor: pointer;
    }
}