.songInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__cover {
        width: 90%;
        height: 90%;
        max-width: 51rem;
        max-height: 51rem;
        border-radius: 50%;

        // @include tablet {
        //     width: 69.12rem;
        //     height: 69.12rem;
        // }
    }

    &__song {
        padding: 3rem 0 2rem 0;
        font-size: 2.8rem;
    }

    &__artist {

    }
}