*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: .314rem;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba($clrBlack, .85);
    border-radius: 4.2rem;
    border: transparent;
}

html {
    font-size: 62.5%;

    @include tablet {
        font-size: 69%;
    }
}

body {
    font-family: $ssfamily;
    font-size: 1.3rem;
    color: $clrBlack;
    background-color: rgba($clrRed, .8);
    z-index: -1;
}